<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet"><br><br>
<p class="aviso1">
  Fale conosco!
</p><br>
<textarea class="areadeduvidas1">Escreva suas dúvidas aqui.</textarea><br><br>
<div class="logando">E-mail:</div>
<textarea class="areadeduvidas1">Escreva seu e-mail aqui.</textarea><br><br>
<button class="botao2">Enviar pergunta</button> 
<br><br>
<br><br>
<br><br>
<br><br><br>



              <p class="textoextra"> Não nos responsabilizamos por acidentes após a instalação, queimaduras de qualquer grau ou morte. Produto não recomendado para menores de 18 anos</p>
    <footer class="page-footer brown">
    <div>
      <div class="row">
        <div class="pezinho"><h5 class="textopezinho1">Redes Sociais</h5>


        </div>
        <div class="col l3 s12">
          <div class="col 16 s12">
            <br>
         <br>
         
                <a href="https://www.google.com">
               <img class="redes" href="https://www.google.com" src="assets/facebook.svg" alt="linkface" width="50" height="25">
               <img class="redes" src="assets/instagram.svg" alt="linkinsta" width="50" height="25">
               <img class="redes" src="assets/twitter.svg" alt="linktt" width="50" height="25">
               <img class="redes" src="assets/pinterest.svg" alt="linkpint" width="50" height="25">
             </a>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="madem container">
      Made by <a class="brown-text text-lighten-3" href="http://google.com">Lava Floor entreprises</a>
      </div>
    </div>
  </footer>