<nav class="navzinha z-depth-0">
	<!--fonte da logo da nav bar importada-->
	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<div class="nav-wrapper">
		<a href="#" class="logoemp">Lava Floor</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li routerLinkActive="active"><a class="coisasnav" routerLink="/home">Home</a></li>
			<li routerLinkActive="active"><a class="coisasnav" routerLink="/contato">Contato</a></li>
			<li routerLinkActive="active"><a class="coisasnav" routerLink="/login">Login</a></li>
			<li routerLinkActive="active"><a class="coisasnav" routerLink="/sobrenos">Sobre nós</a></li>
			
		</ul>
	</div>
</nav>