<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
<br>
<br>
<br>
<br>

<div class="card">
  <div class="fundocoluna1 col 14 m6 s12r"> 
  	<img class="imagemcoluna1" src="assets/flooris.jpg" alt="floorislava" width="350" height="400">

  	<h4 ><p class="paragrafocoluna1">CUIDADO!
  		<p class="paragrafocoluna2">
  	   Estamos prestes a realizar seus sonhos</p></h4>
  </div>
</div>
<div class="container">
         <div class="section no-pad-bot">
            <div class="container">
               <div class="row center"><br><br>
                  <h5 class="paragrafocoluna3">Transforme o chão da sua casa em lava e viva seu sonho de infância<br><p>0% seguro para crianças</p><p>Viva a adrenalina!</p><br><br><p>Marque sua instalação já:</h5><
                  <br>
    <div class="content">
     <a href="http://localhost:4200/login" class="botao01">Cadastre-se!</a>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
               </div>
            </div>
         </div>
      </div>

              <p class="textoextra"> Não nos responsabilizamos por acidentes após a instalação, queimaduras de qualquer grau ou morte. Produto não recomendado para menores de 18 anos</p>
       <footer class="page-footer brown">
    <div>
      <div class="row">
        <div class="pezinho"><h5 class="textopezinho1">Redes Sociais</h5>


        </div>
        <div class="col l3 s12">
          <div class="col 16 s12">
            <br>
         <br>
         
                <a href="https://www.google.com">
               <img class="redes" href="https://www.google.com" src="assets/facebook.svg" alt="linkface" width="50" height="25">
               <img class="redes" src="assets/instagram.svg" alt="linkinsta" width="50" height="25">
               <img class="redes" src="assets/twitter.svg" alt="linktt" width="50" height="25">
               <img class="redes" src="assets/pinterest.svg" alt="linkpint" width="50" height="25">
             </a>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="madem container">
      Made by <a class="brown-text text-lighten-3" href="http://google.com">Lava Floor entreprises</a>
      </div>
    </div>
  </footer>
