<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
<img class="flamezinha" src="assets/flame.png" alt="linkpint" width="40" height="40">
<p class="aviso1">
  Sobre nós
</p><br>
 <div class="container1">
            <div class="col 14 m6 s12">
               <p class="textosobre">A Lava Floor é uma companhia que possui serviços de entretenimento de alta qualidade. Nosso projeto inicial pretende expandir as possibilidades do cotidiano das pessoas, acabando com a linearidade e ausência de emoção da vida de nossos clientes.
              </p><br>
              <p class="textosobre">Os idealizadores dessa instituição sonhavam com um modo de sentir suas emoções infantis novamente, desejando intensificá-las, pois afirmavam que nessa idade as pessoas eram mais felizes. A partir disso, foi criado nosso sistema super tecnológico e avançado que simula a existência de lava no seu piso, proporciando grande diversão à família(desde que ninguém toque nele).</p><br>


              <p class="textosobre"> Diga adeus aos jogos de tabuleiro, pois no Lava Floor tudo queima.</p>
              <br>
              <br>
              <br>
              <p class="textoextra"> Não nos responsabilizamos por acidentes após a instalação, queimaduras de qualquer grau ou morte. Produto não recomendado para menores de 18 anos</p>
            </div>
</div>



      <footer class="page-footer brown">
    <div>
      <div class="row">
        <div class="pezinho"><h5 class="textopezinho1">Redes Sociais</h5>


        </div>
        <div class="col l3 s12">
          <div class="col 16 s12">
            <br>
         <br>
         
                <a href="https://www.google.com">
               <img class="redes" href="https://www.google.com" src="assets/facebook.svg" alt="linkface" width="50" height="25">
               <img class="redes" src="assets/instagram.svg" alt="linkinsta" width="50" height="25">
               <img class="redes" src="assets/twitter.svg" alt="linktt" width="50" height="25">
               <img class="redes" src="assets/pinterest.svg" alt="linkpint" width="50" height="25">
             </a>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="madem container">
      Made by <a class="brown-text text-lighten-3" href="http://google.com">Lava Floor entreprises</a>
      </div>
    </div>
  </footer>